{% extends 'base.html' %}

{% block title %} 게시글 {% endblock %}

{% block contents %}
    <h2>{{ post.title }}</h2>
    <hr>
    <p><strong>작성자</strong> : {{ post.user.last_name }}</p>
    <hr>
    <p class="text-muted">
        {{ post.created_date.year }}년 {{ post.created_date.month }}월 {{ post.created_date.day }}일 {{ post.created_date.time }}
    </p>
    <p style="margin: 30px;">{{ post.content }}</p>
    <hr>
    {% if post.user == request.user %}
        <button type="button" class="btn btn-primary" onclick="location.href='edit'">글 수정하기</button>
        <button type="button" class="btn btn-primary" onclick="location.href='remove'">글 삭제하기</button>
    {% endif %}
    <button type="button" class="btn btn-primary" onclick="location.href='/'">전체 목록</button>
{% endblock %}

