{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block contents %}
    <h1>
        Simple Board
        {% if author %}
            <small class="text-muted"> - {{ author }}</small>
        {% endif %}
    </h1>
    <br>
    <table class="table table-hover table-bordered">
        <thead>
            <th>작성자</th><th>제목</th><th>글 쓴 날짜</th>
        </thead>
        <tbody>
        {% for p in posts %}
            <tr>
                <td><a href="{% url 'post_list_by_author' p.user.username %}">{{ p.user.last_name }}</a></td>
                <td><a href="{% url 'post_detail' p.pk %}"> {{ p.title }}</a></td>
                <td>{{ p.created_date.year }}년 {{ p.created_date.month }}월 {{ p.created_date.day }}일 {{ p.created_date.time }}</td>
                {% if user.is_superuser %}
                    <td class="text-center"><button onclick="location.href='{% url 'post_remove' p.pk %}'" class="btn btn-danger">글 삭제</button></td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="text-center">
        <ul class="pagination">
            {% if posts.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="{% url 'post_list' %}?page={{ posts.previous_page_number }}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Previous</span>
                    </a>
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Previous</span>
                    </a>
            {% endif %}
            </li>
            {% for page in posts.paginator.page_range %}
                {% if page == posts.number %}
                    <li class="page-item active">
                        <a class="page-link" href="#">{{ page }}<span class="sr-only">(current)</span></a>
                    </li>
                {% else %}
                    <li class="page-item">
                        <a class="page-link" href="{% url 'post_list' %}?page={{ page }}">
                            {{ page }}
                        </a>
                    </li>
                {% endif %}
            {% endfor %}
            {% if posts.has_next %}
                <li class="page-item">
                    <a class="page-link" href="{% url 'post_list' %}?page={{ posts.next_page_number }}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Next</span>
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Next</span>
                    </a>
            {% endif %}
            </li>
        </ul>
    </div>
    {% if author %}
        <button class="btn btn-primary float-right" onclick="location.href='{% url 'post_list' %}'">전체목록</button>
    {% endif %}
    {% if user.is_authenticated %}
        <a href="{% url 'create_post' %}"><button class="btn btn-primary float-right">글 쓰기</button></a>
    {% endif %}
{% endblock %}

