<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
</head>
<body>
    {% if messages %}
        {% for message in messages %}
            <script>
                alert('{{ message }}')
            </script>
        {% endfor %}
    {% endif %}

    <div style="margin: 20px;">
        <strong style="font-size: xx-large; margin-left: 80px; cursor: pointer;" onclick="location.href='{% url 'post_list' %}'">Home</strong>
        <a style="margin-left: 20px;" href="{% url 'helloworld' %}">helloworld</a>
        {% if user.is_authenticated %}
            <button class="btn btn-primary pull-right" style="margin-right: 80px;" onclick="location.href='{% url 'sign_out' %}'">로그아웃</button>
            <button onclick="location.href='{% url 'my_page' %}'" class="btn btn-info pull-right" style="margin-right: 20px;">{{ user.last_name }} 님</button>
            <button onclick="location.href='{% url 'visualization_service' %}'" class="btn btn-success pull-right" style="margin-right: 20px;">시각화 서비스</button>
        {% else %}
            <button class="btn btn-primary pull-right" style="margin-right: 80px;" onclick="location.href='{% url 'sign_in' %}'">로그인</button>
            <button class="btn btn-primary pull-right" style="margin-right: 20px;" onclick="location.href='{% url 'sign_up' %}'">회원가입</button>
        {% endif %}
    </div>
    <hr>
    <div style="margin: 50px 100px 50px 100px;">
        {% block contents %}
        {% endblock %}
    </div>
</body>
</html>

