{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block contents %}
    <h2>Simple Board</h2>
    <table class="table table-hover table-bordered">
        <thead>
        <th>작성자</th><th>제목</th><th>글 쓴 날짜</th>
        </thead>
        <tbody>
        {% for p in posts %}
            <tr>
                <td>{{ p.user.lastname }}</td>
                <td><a href="/{{ p.pk }}"> {{ p.title }}</a></td>
                <td>{{ p.created_date }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if user.is_authenticated %}
        <button class="btn btn-primary float-right" onclick="location.href='create_post/{{ user.id }}'">글 쓰기</button>
    {% endif %}
{% endblock %}

